body {
 background-image: url("table.jpg");
 background-attachment: fixed;
 background-size: cover;
}

.card{
width:10em;
margin:-3em
}

.card img{
width:100%;

}

.card img:hover{
 margin-top: -5%;

}

.card:hover{
border-radius: 10px;
 background: rgba(204, 204, 204, 0.5);
 z-index: 1;
  position: relative;

}

#mainContainer{
display: flex;
width:100%;
 height:100%;
}

#table{
height: 100%;

}

#hand{
display: flex;
height: 100%;
}

#middleContainer{
 width:80%;
 height: 50%;
}